@model List<Product>
<section class="section" id="women">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Kadın Giyim</h2>
                    <span>Size Özel Eşsiz Tasarımlar</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="women-item-carousel">
                    <div class="owl-women-item owl-carousel">


                        @foreach (var item in Model)
                        {
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>

                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>

                                    </ul>
                                </div>
                                <img src="@item.ProductImageCover" alt="">
                            </div>
                            <div class="down-content">
                                <h4>@item.ProductName</h4>

                                @{ if (ViewBag.rate != 0)
                                    {
                        <span><del>@item.ProductPrice ₺</del></span>
                                            <span>@(item.ProductPrice = item.ProductPrice - item.ProductPrice * ViewBag.rate / 100) ₺</span> }
                                                            else
                                                            {
                                            <span>@item.ProductPrice ₺</span> } }
                                <ul class="stars">
                                    <li>@*Stokta Son @item.ProductStock*@</li>
                                </ul>
                            </div>
                        </div>}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>